<!DOCTYPE html>
<html>
  <head>
    <title>Parity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="heading-container">
      <h1 class="heading">Parity</h1>
    </div>
    <%= yield %>
  </body>
</html>
